header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    @media screen and (max-width: 900px) {
        height: 23px;
        width: 115px
    }
}

.heading {
    color: $theme-color;
    font-size: clamp(26px, 5vw, 10em);
    font-family: $fontabril;
    @media screen and (min-width: 992px) {
        line-height: 115px;
    }
}

.form-heading {
    color: #C7C7C6;
    font-size: 33px;
    line-height: 45px;
}

.form-desc {
    opacity: 0.75;
    color: #000000;
    font-size: 20px;
    line-height: 30px;
}

.banner {
    position: relative;
    &_text {
       @media screen and (min-width: 992px) {
        padding-top: 50px;
       }
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: max-content;
        text-align: center;
        width: 80%;
    }
    &_btn {
        display: inline-block;
        height: 45px;
        width: 150px;
        border-radius: 2.4px;
        background-color: #D29300;
        line-height: 45px;
        text-align: center;
        color: #fff !important;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none !important;
        font-family: $nunitosans;
        font-weight: bold;
        font-size: 20px;
        margin-top: 40px;
        @media screen and (min-width: 992px) {
            margin-top: 0;
        }
        
        
    }
    .banner-heading {
        font-size: 36px;
        @media screen and (min-width: 992px) {
            font-size: 80px;
        }
    }
}

/////////////// about section
.about {
    padding-top: 50px;
    @media screen and (min-width: 992px) {
    padding-top: 100px;
    }
    padding-bottom: 50px;
    background: url(https://i.ibb.co/QQxjG0d/graph.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
}


.pt-60 {
    @media screen and (min-width: 992px) {
        padding-top: 30px;
    }
}