.submit {
    height: 45px;
    width: 150px;
    border-radius: 2.4px;
    background-color: #856C32;
    color: #FFFFFF;
    border: none;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 27px;
    font-family: 'Nunito Sans', sans-serif;
    text-transform: capitalize;
}