.text {
    &-white {
        color: #fff;
    }
    &-green {
        color: #008F4F;
    }
    &-blue {
        color: #234361;
    }
    &-grey-1{
        color: $text-grey;
    }
    &-grey {
        color: #919EAB;
    }
    &-red {
        color: #9C0800;
    }
    &-off-white{
        color: $text-offwhite;
    }
}

.font {
    &-bold {
        font-weight: bold;
    }
}

.font-36 {
    font-size: 36px;
}

.font {
    &-18 {
        font-size: 18px;
    }
}

.w {
    &-95 {
        width: 95%;
    }
}

.text-decoration-line {
    text-decoration: line-through;
}

.border{
    &-gold{
        border: 1px solid #986B3C;
    }
}

.text-theme {
    color: $theme-color;
}

.font-family {
    font-family: $font-family;
}

.bg-black {
    background-color: #000;
}