body {
    background-image: url('https://i.ibb.co/b2cR7ws/rsz-1tex-wood.png');
    background-position: center;
    // background-image: url('../../../static/images/tex-wood.png');
    padding: 0 !important;
}

.text {
    &-white {
        color: #fff;
    }
    &-green {
        color: #008F4F;
    }
    &-blue {
        color: #234361;
    }
    &-grey-1 {
        color: $text-grey;
    }
    &-grey {
        color: #C7C7C6;
    }
    &-red {
        color: #9C0800;
    }
    &-off-white {
        color: $text-offwhite;
    }
}

.font {
    &-bold {
        font-weight: bold;
    }
}

.letter-spac-2 {
    letter-spacing: 2px;
}

.font-36 {
    font-size: 30px;
}

.font {
    &-14 {
        font-size: 12px;
        @media screen and (min-width: 992px) {
            font-size: 14px;
        }
    }
    &-18 {
        font-size: 12px;
        @media screen and (min-width: 992px) {
            font-size: 18px;
        }
    }
}

.w {
    &-95 {
        width: 95%;
    }
}

.text-decoration-line {
    text-decoration: line-through;
}

.border {
    &-gold {
        border: 1px solid #986B3C;
    }
}

.text-theme {
    color: $theme-color;
}

.fontabril {
    font-family: $fontabril;
}

.fontnewyork {
    font-family: $fontNewYork;
}

.bg-black {
    background-color: #000;
}

.lineht-30 {
    line-height: 30px;
}

.lineht-36 {
    line-height: 24px;
    @media screen and (min-width: 992px) {
        line-height: 36px;
    }
}

.subheading {
    color: #C1803B;
    font-family: "New York";
    font-size: clamp(26px, 4vh, 36px);
    font-weight: bold;
    letter-spacing: 0;
    @media screen and (min-width: 992px) {
        line-height: 55px;
    }
    text-align: center;
}

.inner-text {
    color: #FFFFFF;
    font-family: "New York";
    font-weight: bold;
    letter-spacing: 1px;
    @media screen and (min-width: 992px) {
        line-height: 36px;
        font-size: 18px;
    }
}

.text-grey-1 {
    color: #E3CAB6;
}

///////////////@at-root
.popup-fixed {
    height: 680px;
    width: 1095px;
}

.popup {
    border-radius: 10px;
    background: url(https://i.ibb.co/9pJgxqV/tex-Paper.png);
    display: flex;
    justify-content: center;
    padding: 28px;
    &-heading {
        color: #986B3C;
        font-family: "Abril Fatface";
        font-size: 30px;
        letter-spacing: -0.3px;
        line-height: 41px;
    }
    &-subheading {
        opacity: 0.75;
        color: #222222;
        font-family: "New York";
        font-size: 25px;
        letter-spacing: 0;
        line-height: 30px;
    }
    .line {
        &-1 {
            margin-top: 10px;
            border-bottom: 3px solid #9B785C;
        }
        &-2 {
            margin-top: 4px;
            border-bottom: 1px solid #9B785C;
        }
    }
    .question {
        color: #262525;
        font-family: "New York";
        font-size: 25px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 30px;
        position: relative;
    }
    .qnumb {
        margin-right: 10px;
        height: 40.8px;
        width: 40.8px;
        border: 0.8px solid #9B785C;
        border-radius: 50%;
        color: #986B3C;
        font-family: "Abril Fatface";
        font-size: 24px;
        letter-spacing: -0.24px;
        line-height: 32px;
        text-align: center;
        line-height: 40.8px;
    }
    .qdesc {
        opacity: 0.75;
        color: #222222;
        font-family: "New York";
        font-size: 14px;
        font-style: italic;
        letter-spacing: 0;
        line-height: 16px;
        padding-left: 50.8px;
    }
}

.radiosbtn {
    padding-left: 50.8px;
    li {
        list-style: none;
        margin: 20px 0;
        color: #262525;
        font-family: "New York";
        letter-spacing: 0;
    }
    input[type='radio']:after {
        height: 24px;
        width: 24px;
        border-radius: 15px;
        top: -5px;
        left: -0px;
        position: relative;
        background-color: #F1EDDB;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid #262525;
    }
    input[type='radio']:checked:after {
        height: 24px;
        width: 24px;
        border-radius: 15px;
        top: -5px;
        left: 0px;
        position: relative;
        background-color: $theme-color;
        content: '';
        display: inline-block;
        visibility: visible;
    }
}

//////////////@at-root
// @mixin rangeThumb {
//     width: 18px;
//     height: 18px;
//     margin: -8px 0 0;
//     border-radius: 50%;
//     background: #e7661b;
//     cursor: pointer;
//     border: 0 !important;
// }

// @mixin rangeTrack {
//     width: 100%;
//     height: 2px;
//     cursor: pointer;
//     background: #9B785C;
// }

// .range {
//     position: relative;
//     width: 550px;
//     height: 5px;
// }

// .range input {
//     width: 100%;
//     position: absolute;
//     top: 2px;
//     height: 0;
//     -webkit-appearance: none;
//     // Thumb
//     &::-webkit-slider-thumb {
//         -webkit-appearance: none; // needed again for Chrome & Safari
//         @include rangeThumb;
//     }
//     &::-moz-range-thumb {
//         @include rangeThumb;
//     }
//     &::-ms-thumb {
//         @include rangeThumb;
//     }
//     // Track
//     &::-webkit-slider-runnable-track {
//         @include rangeTrack;
//     }
//     &::-moz-range-track {
//         @include rangeTrack;
//     }
//     &::-ms-track {
//         @include rangeTrack;
//     }
//     &:focus {
//         // override outline/background on focus
//         background: none;
//         outline: none;
//     }
//     &::-ms-track {
//         // A little somethin' somethin' for IE
//         width: 100%;
//         cursor: pointer;
//         background: transparent;
//         border-color: transparent;
//         color: transparent;
//     }
// }

// Labels below slider
// .range-labels {
//     margin: 18px -41px 0;
//     padding: 0;
//     list-style: none;
//     li {
//         position: relative;
//         float: left;
//         width: 90.25px;
//         text-align: center;
//         color: #b2b2b2;
//         font-size: 14px;
//         cursor: pointer;
//         &::before {
//             position: absolute;
//             top: -25px;
//             right: 0;
//             left: 0;
//             content: "";
//             margin: 0 auto;
//             width: 9px;
//             height: 9px;
//             background: #b2b2b2;
//             border-radius: 50%;
//         }
//     }
//     .active {
//         color: #37adbf;
//     }
//     .selected::before {
//         background: #37adbf;
//     }
//     .active.selected::before {
//         display: none;
//     }
// }

#sortable {
    list-style-type: none;
    margin: 0;
    padding-left: 50.8px;
    width: 60%;
}

#sortable li {
    height: 38px;
    width: 640px;
    border-radius: 2px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    margin: 20px 0;
    color: #262525;
    font-family: "New York";
    letter-spacing: 0;
    line-height: 38px;
    padding-left: 50px;
}

#sortable li span {
    position: absolute;
    margin-left: -1.3em;
}

.previous {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 50.8px;
    .icon {
        height: 45px;
        width: 45px;
        border: thin solid #b0b0b0;
        line-height: 45px;
        border-radius: 50%;
        text-align: center;
        background: white;
        margin-right: 10px;
        color: #262525;
    }
    .text {
        color: #986B3C;
        font-family: "New York";
        font-weight: bold;
        letter-spacing: 0;
        line-height: 16px;
        text-align: center;
        text-transform: capitalize;
    }
}

.modal {
    backdrop-filter: blur(100px);
}

.modal-content {
    background: transparent;
}

.modal-dialog {
    max-width: 100%;
    width: max-content;
    margin: 1.75rem auto;
}

.desc {
    font-family: "New York";
    font-size: 23px;
    letter-spacing: 0;
    line-height: 36px;
}

.social-popup {
    width: 476px;
}

.social-links {
    justify-content: center;
    align-items: center;
    text-align: center;
    img {}
}

.copy-link {
    background: chocolate;
    width: max-content;
    margin: auto;
    color: #FFFFFF;
    font-family: "Nunito Sans";
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 22px;
    img {
        height: 22px;
        width: 19px;
    }
    a {
        padding: 9px 16px;
        span {
            margin-left: 5px;
        }
    }
}

#amount
{
    display: none;
}
.blur{
    filter: blur(20px);
}

.outer {
    position: relative;
}

.steps-dots {
    position: absolute;
    right: 50px;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 99;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .dot {
        height: 5px;
        width: 5px;
        border-radius: 50%;
        background: $theme-color;
        opacity: .8;
        margin: 5px 0;
        &.active {
            transform: scale(2);
            opacity: 1;
        }
    }
}