.custom{
    &-row{
        box-shadow: 0 5px 43px 0 rgba(0,0,0,0.66);
    // background-image: url(https://i.ibb.co/b2cR7ws/rsz-1tex-wood.png);
    background-image: url('../images/tex-wood.png');
    background-position: center;
    }
    &-col-60{
        @media (min-width: 768px) {
            width: 52%;
        }        
    }
    &-col-40{
        @media (min-width: 768px) {
            width: 48%;
        }        
    }
}