.range-slider{
    margin-top: 45px;
    max-width: 430px;
    .ui-slider{
        height: 8px;
        background-color: #9B785C;
        // background-color: rgba(122,95,73,0.42);
    }
    .ui-slider-handle{
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background-color: #9B785C;
        top: -12px;
        cursor: pointer;
        &:focus{
            outline: 0;
        }
    }
    .ui-state-active{
        border: 0;
    }
    .ui-widget-header{
        background: #eee6e0;
    }
    &-labels{
        padding-left: 0;
        margin-bottom: 0;
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        margin-right: -50px;
        li{
            display: inline-block;
            width: 25%;
            font-size: 15px;
            font-family: $fontNewYork;
            line-height: 38px;
            color: #262525;
            &:last-child{
                text-align: right;
            }
        }
    }
}