<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div id="content">
            {{- block "main" . }}{{- end }}
            {{- partial "homepage/banner.html" . -}}
            {{- partial "homepage/about.html" . -}}
            {{- partial "homepage/grid-section.html" . -}}
            {{- partial "homepage/contact.html" . -}}
            {{- partial "homepage/popup.html" . -}}

            

        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
