<footer>
    <div class="footer pt-4 pb-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    footer
                </div>
                <div class="col-md-6">
                        
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="{{"js/jquery-3.5.0.min.js" | relURL}}"></script>
<script src="{{"js/bootstrap.min.js" | relURL}}"></script>
<script src="{{"vendor/slick/slick.min.js" | relURL}}"></script>
<script src="{{"js/app.js" | relURL}}"></script>
<script src="{{"js/slider.js" | relURL}}"></script>