<footer class="bg-black">
    <div class="footer pt-4 pb-4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <img src="{{"img/logo.png" | absURL}}" class="footer-logo">

                </div>
                <div class="col-md-6 text-right text-white fontnewyork">
                    © All Rights Reserved
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="{{"js/jquery-3.5.0.min.js" | relURL}}"></script>
<script src="{{"js/bootstrap.min.js" | relURL}}"></script>
<script src="{{"vendor/slick/slick.min.js" | relURL}}"></script>
<script src="{{"js/app.js" | relURL}}"></script>
<script src="{{"js/slider.js" | relURL}}"></script>