<section class="about">
    <div class="container">
        <div class="text-center mb-5 w-95">
            <h2 class="subheading font-36">
                Bottlebits® is a secure online platform, where all levels of investors will now have hassle-free access to curated Investment-Grade bottles of spirits, champagne, and fine wine.
            </h2>
            <p class="inner-text font-bold">
                We will be starting with whisky – the top performing Luxury Asset Class in the last ten years.
            </p>
            <i class="font-light inner-text">(Rare Whisky Apex 1000 Index)</i>
        </div>
        
        <h1 class="heading">
            What is a bottlebit®?
        </h1>
        <div class="row align-items-end align-items-md-start">
            <div class="col-8 pt-60">
                <div class=" pr-lg-10">
                    <p class="font-18 mt-2 mb-md-5 fontnewyork text-grey lineht-36 ">
                        A bottlebit® is a “share” that represents true ownership in an Investment-Grade spirit, fine wine...
                    </p>
                    <p class="font-18 fontnewyork text-grey lineht-36">
                        Can you imagine an Initial Bottle Offering (or IBO)? You may now see where this is going…still, we want to surprise you with all the features and investment opportunities we are creating.
                    </p>
                </div>
            </div>
            <div class="col-4 mt--100">
                <img src="{{"img/img-bits.png" | absURL}}" class="img-fluid">
            </div>
        </div>
    </div>
</section>