<section class="about">
    <div class="container">
        <div class="text-center mb-5 w-95">
            <h2 class="subheading">
                Thanks to our bottlebits® and secure platform, all levels of investors will now have hassle-free access to curated Investment-Grade bottles of spirits and fine wine.
            </h2>
            <p class="inner-text">
                Starting with Single Malt Whisky – the TOP Performer Luxury Asset Class in the last ten years.
            </p>
        </div>
        <div class="row">
            <div class="col-md-8 pt-60">
                <h1 class="heading">
                    What is a bottlebit®?
                </h1>
                <div class="w-75">
                    <p class="font-18 mt-2 mb-5 fontnewyork text-grey lineht-36">
                        A bottlebit® is a “share” that represents true ownership in an Investment-Grade spirit, fine wine...
                    </p>
                    <p class="font-18 fontnewyork text-grey lineht-36">
                        Can you imagine an Initial Bottle Offering (or IBO)? You may now see where this is going…still, we want to surprise you with all the features and investment opportunities we are creating.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <img src="{{"img/img-bits.png" | absURL}}" class="img-fluid">
            </div>
        </div>
    </div>
</section>