
<div class="container">
   <div class="text-center">
    <h2 class=" text-theme font-family font-bold font-36">
        Thanks to our bottlebits® and secure platform, all levels of investors will now have hassle-free access to curated Investment-Grade bottles of spirits and fine wine.
    </h2>
    <p class="font-18 font-family font-bold">
        Starting with Single Malt Whisky – the TOP Performer Luxury Asset Class in the last ten years.
    </p>
   </div>
    <div class="row">
        <div class="col-md-8 pt-5">
            <h1>
                What is a bottlebit®?
            </h1>
           <div class="w-75">
            <p class="font-18">
                A bottlebit® is a “share” that represents true ownership in an Investment-Grade spirit, fine wine... 
            </p>
            <p class="font-18">
                Can you imagine an Initial Bottle Offering (or IBO)? You may now see where this is going…still, we want to surprise you with all the features and investment
                opportunities we are creating.
            </p>
           </div>
        </div>
        <div class="col-md-4">
       <img src="{{"img/img-bits.png" | absURL}}" class="img-fluid">

        </div>
    </div>
</div>
