<div class="">
    <div class="container pt-5 pb-5">
        <div class="custom-row d-md-flex p-1">
            <div class="custom-col-50 p-3 border-gold border-right-0">
                <h1 class="text-grey-1 form-title">
                    Brace yourself for an immersive interaction & experience
                </h1>
                <p class="text-off-white form-subtitle">
                    Register your interest & learn of exclusive pre-launching access
                </p>
                <form>
                    <div class="row my-3">
                        <div class="col-md-6">
                            <input type="text" name="Firstname" class="w-100" placeholder="First Name" id="">
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="Lastname" class="w-100" placeholder="Last Name" id="">
                        </div>
                    </div>
                    <div class="row my-3 align-items-center">
                      <div class="col-md-3">
                        <select class="w-100">
                          <option selected>Gender</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                      </div>
                      <div class="col-md-9">
                        <div class="radio">
                          <ul>
                            <li class="h-auto font-14">Age Group</li>
                            <li><label for="Radio1">41-42</label><input type="radio" name="Radio" value=""/> </li>
                            <li><label for="Radio2">42-43</label><input type="radio" name="Radio" value=""/> </li>
                            <li><label for="Radio3">44-56</label><input type="radio" name="Radio" value=""/> </li>
                            <li><label for="Radio4">58-59</label><input type="radio" name="Radio" value=""/> </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="row my-3">
                      <div class="col-md-9"><input type="email" name="Email" placeholder="Email" class="w-100" id=""></div>
                      <div class="col-md-3">  <select class="w-100">
                        <option selected>Gender</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select></div>
                    </div>
                    <div class="g-recaptcha"
                    data-sitekey="6Lel4Z4UAAAAAOa8LO1Q9mqKRUiMYl_00o5mXJrR"></div>
                    <p class="text-grey-1 mt-3">
                      By Signing up you agree to recieve Mailer and Newsletters from Bottlebits
                    </p>
                    <button class="submit">
                      Sign up
                    </button>
                </form>
            </div>
            <div class="custom-col-50">
                <img src="{{"images/ImmersiveExperience.png" | relURL}}" class="img-fluid w-100">
            </div>
        </div>
    </div>
</div>