<div class="" style="background-color: #555555;">
    <div class="container pt-5 pb-5">
        <div class="custom-row d-md-flex p-1">
            <div class="custom-col-50 p-3 border-gold border-right-0">
                <h1 class="text-grey-1 form-title">Brace yourself for an immersive interaction & experience</h1>
                <p class="text-off-white form-subtitle">Register your interest & learn of exclusive pre-launching access</p>
            </div>
            <div class="custom-col-50">
                <img src="{{"images/ImmersiveExperience.png" | relURL}}" class="img-fluid w-100">
            </div>
        </div>
    </div>
</div>