<section class="bg-black pt-5">
    <div class="container">
        <h1 class="text-center mb-5 heading">
            Buy. Trade. Interact.
        </h1>
        <div class="grid-section">
            <div class="row">
                <div class="col-md-4">
                    <div class="item">
                        <img src="{{"img/seal.png" | absURL}}" class="seal">
                        <img src="{{"img/img.png" | absURL}}" class="img-fluid">
                        <div class="item-text">
                            Only curated Investment-Grade Bottles
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <img src="{{"img/img1.png" | absURL}}" class="img-fluid">
                        <div class="item-text">
                            Professionally managed storage & insurance
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <img src="{{"img/img2.png" | absURL}}" class="img-fluid">
                        <div class="item-text">
                            Start with £ 10+
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-3">
                    <div class="item">
                        <img src="{{"img/img3.png" | absURL}}" class="img-fluid">
                        <div class="item-text">
                            Liquidity via our Secondary Market
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-3">
                    <div class="item">
                        <img src="{{"img/img4.png" | absURL}}" class="img-fluid">
                        <div class="item-text">
                            Gateway to knowledge from our experts
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-3">
                    <div class="item">
                        <img src="{{"img/img5.png" | absURL}}" class="img-fluid">
                        <div class="item-text">
                            Always safety first
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>